@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "CevicheOne";
    src: url("font/CevicheOne-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

html>body,
html>body input,
html>body select,
html>body textarea,
html>body pre,
html>body button {
    font-family: "CevicheOne";
    color: #333;
    text-underline-position: under;
    line-height: 1.3;
}

body::-webkit-scrollbar {
    -ms-overflow-style: none;
}

::-webkit-scrollbar {
    display: none;
}

html,
body,
#root {
    height: 100%;
    margin: 0;
}

#root {
    display: flex;
    flex-direction: column;
}

.menubar_box>ul>li {
    display: flex;
    align-items: center;
}

.menubar_box>ul>li:hover>a {
    color: rgba(55, 65, 81, 1);
}

.menubar_box>ul>li>a {
    cursor: pointer;
    font-size: 3.75rem;
    --tw-text-opacity: 1;
    color: rgba(243, 244, 246, 1);
    transition: color;
    transition-duration: 500ms;
}

.backspace_box>div {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    opacity: 0;
    transition: opacity;
    transition-duration: 500ms;
    rotate: 90deg;
    color: rgba(120, 53, 15, 1);
    font-size: 2.125rem;
}

.homebutton_box>div {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    opacity: 0;
    transition: opacity;
    transition-duration: 500ms;
    color: #3df2f5;
    font-size: 1.875rem;
}

/* .homebutton_box>img:hover {
    animation-name: warp;
    animation-duration: 2s;
    animation-timing-function: linear;
} */


@media (max-width: 1536px) {
    .menubar_box {
        height: 22.5%;
    }

    .menubar_box>ul>li>a {
        font-size: 3.375rem;
    } 

    .backspace_box>div {
        font-size: 1.75rem;
    }

    .homebutton_box>div {
        font-size: 1.625rem;
    }
}

@media (max-width: 1280px) {
    .menubar_box {
        height: 20%;
    }

    .menubar_box>ul>li>a {
        font-size: 3rem;
    } 

    .backspace_box>div {
        font-size: 1.5rem;
    }

    .homebutton_box>div {
        font-size: 1.375rem;
    }
}

@media (max-width: 1024px) {
    .menubar_box {
        height: 17.5%;
    }

    .menubar_box>ul>li>a {
        font-size: 2.625rem;
    } 

    .backspace_box>div {
        font-size: 1.125rem;
    }

    .homebutton_box>div {
        font-size: 1.125rem;
    }
}

@media (max-width: 768px) {
    .menubar_box {
        height: 15%;
    }

    .menubar_box>ul>li>a {
        font-size: 2.25rem;
    } 

    .backspace_box>div {
        font-size: 0.9375rem;
    }

    .homebutton_box>div {
        font-size: 0.875rem;
    }
}

@media (max-width: 640px) {
    .menubar_box {
        height: 12.5%;
    }

    .menubar_box>ul>li>a {
        font-size: 1.875rem;
    } 

    .backspace_box>div {
        font-size: 0.75rem;
    }

    .homebutton_box>div {
        font-size: 0.625rem;
    }
}

/* @keyframes warp {
    0% {left: 0; top: 0; src: url("/public/img/home2.png");}
    25% {left: 0; top: 0; background-image: url("/public/img/home2.png");}
    50% {left: 0; top: 0; background-image: url("/public/img/home3.png");}
    75% {left: 0; top: 0; background-image: url("/public/img/home4.png");}
    100% {left: 0; top: 0; background-image: url("/public/img/home5.png");}
} */